.container {
  display: flex; /* Use Flexbox for layout */
  justify-content: center; /* Center the content horizontally */
  height: 100vh; /* Set the container height to fill the viewport */

}

.side-space {
  flex: 1; /* Allow the side spaces to grow and take up equal space */
}
.content {
  /* Add styles for the content in the middle */
  flex: 3; /* Update to allocate more space to the content */
  max-width: 360px; /* Add a max-width to limit the content width */
  /* padding: 16px; */
  background-color: #f8f7f7;
  padding: 16px;
  /* Add any other styles as needed */
}


/* Add media queries for responsive styles */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Change to column layout on smaller screens */
  }

  .side-space {
    display: none; /* Hide the side spaces on smaller screens */
  }

  .content {
    flex: 1; /* Take up full width on smaller screens */
    margin: 16px; /* Add margin to content on smaller screens */
  }
}
